<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet"/>  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Mercado Liebre</title>
</head>
<header></header>
<main>
    <h1>Ingresa a tu cuenta!</h1>
    <form action="/resultadoRegister" method="POST">
       
        <label for="usuario">Nombre de Usuario</label><br>
        <input type="text" name="usuario" placeholder="" required><br>
        <label for="password">Contraseña</label><br>
        <input type="password" name="password" placeholder="" required><br>
        
        <button type="submit" href="./">Enviar</button>
        <button type="reset">Borrar</button>
    </form>
</main>
<footer></footer>