<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=M, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <img src="./images/img-home-banner.jpg" alt=""  width="360" height="50"/>
    
    <p><strong>Ofertas</strong></p>
    <ul type=None>
        <li>
            <img src="./images/img-cafetera-moulinex.jpg" alt="" width="100" height="100"/>
            <p>$6.770</p>
            <p>p>40% OFF</p>
            <p><strong>Cafetera Moulinex</strong></p>
        </li>
        <li>
            <img src="./images/img-macbook-pro-2019.jpg" alt="" width="100" height="100"/>
            <p>$230.000</p>
            <p>20% off</p>
            <p><strong>MacBook Pro 2019</strong></p>
        </li>
        <li>
            <img src="./images/img-samsung-galaxy-s10.jpg" alt="" width="100" height="100"/>
            <p>$70.500</p>
            <p>10% off</p>
            <p><strong>Samsung Galaxy S10</strong></p>
        </li>
        <li>
            <img src="./images/img-tv-samsung-smart.jpg" alt="" width="100" height="100"/>
            <p>$23.200</p>
            <p>5% off</p>
            <p><strong>SmartTv Samsung 43"</strong></p>
        </li>
   </ul>
   
</body>
<footer>
    
</footer>
</html>