
*{
    margin: 0px ;
    padding: 0px ;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
    
   }
header{
    background-color: #EAC926;
    margin: 0px auto;
}

main{
    background-color: #ebebeb;
    justify-content: center; 
    padding: 0px auto;
    margin: 0px auto; 
}
p{
    font-size: 12px;
   
}

.pBold{
    font-weight: bold;
    width: 100%;
    
}
h2{
    font-size: 24px;
    color: #666;    
    text-align: center;
    font-weight: bold;
}

nav{
    display: none;
    
    
}

.conteinerInfo{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    
   
}
.precios{
   
    font-size: 18px;
    color: #666;
    font-weight: bold; 
    padding: 10px;
         

}

.descuentos{
    font-size: 16px;
    text-align: left;
    padding: 10px;
    color: #39b54a;
    
  
}
.descuentos-descripciones{
 
    font-size: 16px;
    text-align: left;
    color: #666;
    padding: 5px;
    opacity: 0;
   
   
   
 
  
}


.burger-menu{
    background-color: #1259c3;
    text-align: center;
    margin:auto;
    width: 28px;
    color: white;
    border-radius: 20%;
    padding: 3px;
    
}


li{
   
    list-style: none;  
 }
.liFooter{
      
    margin-bottom: 10px;
    padding: 10px;
    text-align: -webkit-center;
    color: #666;
    width: 100%;
   
}
.liFooter2{
    margin-bottom: 10px;
    padding: 10px;
    text-align: -webkit-center;
    color: #666;
    width: 100%;

}
.descripcion{
display: none; 
border-top: solid 1px ebebeb;
padding: 20px 5px ;
margin:  0px auto;
border: 1px solid #ebebeb;
/* text-align: left; */
position:relative;
background-size: cover;
transition-property: all;
transition-duration: infinite;
width:inherit;


}






.divCenter{
    text-align: center;
    
}


.iconoFooter{ 
    color: #1259c3; 
    width: 300px;
}

.iconoFooter:hover{
    color:#39b54a;
}



.img-logo{
    width: 50%; 
    height: 50%;
}

.busqueda{
    width: 50%;
    position: relative;
    margin: 0px auto;
}

.conteiner{
  
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px auto;
    
   

    
    
}
article{
    background-color: white;
    margin: 10px auto;
    display: flex;
     flex-direction:column;
    flex-wrap: wrapp;
    position: relative; 
   /*  align-items: stretch; */
    width: 100%;
    height: 100%;
    
    
    
}

main section article i{
    /* display: flex; */
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
.banner{
font-display:flex ;
background-color: turquoise;
width: 100%;
height: 100%;

}

.divBanner{
 
   background-color: violet;
   display: flex;
   align-items: stretch;
   -webkit-align-items: stretch;
   
 
   
   
}
img{
    width: 100%;
    height: 100%;
    padding: 0px;
    align-self: center;
    align-items: stretch;

}
article{
    box-shadow: 0px 0px 10px rgba(100,100,100,0);

}

article:hover{
     
    box-shadow: 0px 0px 10px rgba(100,100,100,1);
    
}
@media (min-width: 361px){
   
    .descripcion {
    display: initial;
   
    
    }
    .descripcion:hover{
       
    display: initial;
   
 
}

    p{
        display: initial;
        text-align: left;
        
    }

  

    

    .conteinerArticulo{
        max-width: 45%;
     } 

    
}
@media (min-width: 768px){
    nav{
        
        display: -webkit-inline-box;
        width: 100%;
        
    }
    .burger-menu{
        display: none;
    }
    
    .conteinerArticulo{
        max-width: 20%;
     }
        
    
}

a{
    text-decoration: none;
    
}

.conteinerPrecioDescuento{
    display: flex;
    
}

.logoEnvio{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* form{

    background-color:#ebebeb;
    color: #666;  
    text-align: center; 
    padding: 10px;
    font-weight: bold;
    width: 80%; */
    

form {

    max-width: 500px;
    width: 100%;
    margin: 10px auto;
    position: relative;
    padding: 40px;
    font-weight: bold;
    font-size: 40px;
    
}

.camion{
    color: #39b54a;
}
.fa-truck:hover{
    
    transform: rotate(90deg);
}



section.Secbusqueda {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.inputBusqueda{
    align-self:stretch;
    width: 80%;

}

.divBusqueda{
    width: 50%;
}

.compraCuota{
    width:100%;
    text-align: center;
}

 .ulIzquierda{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 50%;

}

.ulDerecha{

 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: flex-end;
 justify-self: self-end;
 justify-items: self-end;
 width: 50%;
} 

.conteinerArticulo{

    margin: 10px auto;
   
}

@media (min-width: 1024px){
    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .liFooter{
       width:25% ;
    }
   
}

.descuentos-descripciones:hover{
    opacity: 1;
}
